{{#if resume.awards.length}}
<section id="awards" class="flex flex-wrap border-t border-dashed border-gray-500 mt-2 pt-2">
	<h2 class="text-lg font-bold w-full pb-2 {{#lang 'zh'}}md:w-16 md:pb-0 print:w-16 print:pb-0{{/lang}}">{{i18n 'awards'}}<span
			class="md:block print:block">{{i18n 'awardsSub'}}</span></h2>
	<div class="wrap">
		{{#each resume.awards}}
		<div class="{{#unless @first}}mt-2{{/unless}}">
			<div class="font-bold">

				{{#if date}}
				<span class="inline-block w-full md:w-48 print:w-48">
					{{date}}
				</span>
				{{/if}}
				{{#if title}}
				<span class="inline-block w-full md:w-48 print:w-48">
					{{title}}
				</span>
				{{/if}}
				{{#if awarder}}
				<span class="inline-block">
					{{awarder}}
				</span>
				{{/if}}
			</div>
			{{#if summary}}
			<div class="mt-1 text-gray-500">
				<span>{{summary}}</span>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</div>
</section>
{{/if}}